body {
    font-family: Arial;
    background: #f5f5f5;
}

.chat-container {
    width: 400px;
    background: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.message {
    margin: 5px 0;
}
